DotNetGotchas/VBDN/MultipleWSCalls/MultiWSRequest/AClient/Web References/AVSWSForMultiRequest/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/AVBWSForMultiRequest/MyService" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/AVBWSForMultiRequest/MyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/AVBWSForMultiRequest/MyService">
      <s:element name="Method1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="val" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Method1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Method1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Method1SoapIn">
    <wsdl:part name="parameters" element="tns:Method1" />
  </wsdl:message>
  <wsdl:message name="Method1SoapOut">
    <wsdl:part name="parameters" element="tns:Method1Response" />
  </wsdl:message>
  <wsdl:portType name="MyServiceSoap">
    <wsdl:operation name="Method1">
      <wsdl:input message="tns:Method1SoapIn" />
      <wsdl:output message="tns:Method1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceSoap" type="tns:MyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Method1">
      <soap:operation soapAction="http://tempuri.org/AVBWSForMultiRequest/MyService/Method1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MyServiceSoap" binding="tns:MyServiceSoap">
      <soap:address location="http://localhost/AVBWSForMultiRequest/MyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>